

/* Header Style  */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

.nav{
display: flex;


align-items: center;
justify-content: space-between;
margin: 0 200px;

}
.secondary-bg {
    background-color: rgb(255, 248, 243);
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  .nav-title {
    font-weight: 800;
    font-size: 50px;
  }